{% extends 'base.html' %}
{%load crispy_forms_tags static %}

{% block title %}
    Login Form
{% endblock %}

<!-- {# This will replace the content within the block #} -->
{% block navs %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="login-page">
        <div class="login-container">
            <div class="welcome-text">
                <h1>Welcome To Park Ease</h1>
                <p>To Login</p>
            </div>
            <div class="card shadow-sm py-4 px-4">
                <form method="POST" novalidate>
                    {% csrf_token %}
                     {{ form |crispy}}

                  <button type="submit" class="btn btn-secondary">Login</button>

                </form>
            </div>
     <div>
        <p>Don't have an account <a href="{% url 'register_user' %}">Register</a>
        </p>
        </div>
     </div>
    </div>
{% endblock %}
